:root {
  /* Primary Colors */
  --clr-soft-orange: hsl(35, 77%, 62%);
  --clr-soft-red: hsl(5, 85%, 63%);

  /* Neutral */

  --clr-off-white: hsl(36, 100%, 99%);
  --clr-grayish-blue: hsl(233, 8%, 79%);
  --clr-dark-grayish-blue: hsl(236, 13%, 42%);
  --clr-very-dark-blue: hsl(240, 100%, 5%);

  /* Typography  */
  --ff-primary: "Inter", sans-serif;

  --fs-12: 1.2rem;
  --fs-14: 1.4rem;
  --fs-16: 1.6rem;
  --fs-18: 1.8rem;
  --fs-20: 2rem;
  --fs-24: 2.4rem;
  --fs-32: 3.2rem;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

html {
  font-size: 62.5%;
  /* 10px of 16px = 62.5% */
}

body {
  font-family: var(--ff-primary);
  font-size: 1.6rem;
  line-height: 1.2;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
}

.header {
  padding: 9.6rem 0 0 0;
  height: fit-content;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 4rem;
}

.header ul {
  list-style: none;

  flex: 1;
  display: flex;
  gap: 3.2rem;
}

.header li {
  display: inline-block;
}

.section-hero {
  padding: 5.6rem 0;
}

.section-hero .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 2.8rem;
}

.hero-main {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.hero-main__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-main__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.8rem;
}

.hero-main__content-title {
  font-size: 5.2rem;
  font-weight: var(--fw-extra-bold);
  line-height: 1;
}

.hero-main__content-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--fs-14);
  line-height: 1.6;
  color: var(--clr-dark-grayish-blue);
}

.cta {
  width: fit-content;
  padding: 1.2rem 3.2rem;
  background-color: var(--clr-soft-red);
  color: var(--clr-off-white);
  text-transform: uppercase;
  font-size: var(--fs-14);
  font-weight: var(--fw-regular);
  letter-spacing: 5px;
}

.side-bar {
  height: fit-content;
  background-color: var(--clr-very-dark-blue);
  color: var(--clr-off-white);
  padding: 3.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 2.4rem; */
}

.side-bar h2 {
  font-size: 3.6rem;
}

.article-card {
  padding: 2.8rem 0;
  border-bottom: 1px solid var(--clr-dark-grayish-blue);
}

.article-card:nth-child(3) {
  border-bottom: none;
  padding-bottom: 0;
}

.article-card h4 {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  line-height: 1.2;
}

.article-card p {
  font-size: 1.4rem;
  color: var(--clr-grayish-blue);
  line-height: 1.6;
}

.section-article {
  padding-bottom: 9.6rem;
}

.section-article .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.8rem;
}

.article-col {
  display: flex;
  align-items: start;
  gap: 1.6rem;
  /* height: fit-content; */
}

.article-col__img {
  width: 8.8rem;
  /* height: 100%; */
  object-fit: cover;
}

.article-col .flex-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-group .count {
  font-weight: var(--fw-extra-bold);
  color: var(--clr-grayish-blue);
  margin-bottom: 0.8rem;
}

.flex-group .title {
  font-size: var(--fs-16);
  font-weight: var(--fw-extra-bold);
  margin-bottom: 0.8rem;
}

.flex-group .content {
  font-size: var(--fs-14);
  color: var(--clr-dark-grayish-blue);
  line-height: 1.4;
}
